html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar {
    padding: 0.8rem;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img {
    position: center;
}

.carousel-indicators li {
    background-color: red;
    color: red;
}

.carousel-indicators .active {
    background-color: red;
}

.carousel-caption {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.carousel-caption h4 {
    color: #2c3e50;
    font-size: 400%;
    text-transform: uppercase;
    text-align: left;
}

.carousel-inner {
    text-align: right;

}

.fa-shopping-cart {
    width: 100%;
    height: 100%;
    color: green;
}

.product-module {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.product-module img {
    max-height: 13.75em;
    max-width: 100%;
    height: auto;
    width: auto;
    vertical-align: middle;
}

.jumbotron {
    margin-top: 30px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar {
    padding: 0.8rem;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    text-shadow: 1px 1px 10px #000;
}

#getStarted {
    background-color: #6648b1;
    border: 1px solid #6648b1;
}

#getStarted:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.welcome h1, p {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 74%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-code {
    color: #e54d26;
}

.fa-bold {
    color: #563d7c;
}

.fa-css3 {
    color: #2163af;
}

.fa-code, .fa-bold, .fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fun {
    width: 100%;
    margin-bottom: 2rem;
}

.gif {
    max-width: 100%;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa8;
}

.fa-youtube {
    color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #d5d5d5;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}




!*---Media Queries --*!
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


!*---Firefox Bug Fix --*!
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
!*--- Fixed Background Image --*!
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
!*--- Bootstrap Padding Fix --*!
[class*="col-"] {
    padding: 1rem;
}*/





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/










.row {
    display: flex;
    justify-content: center;

}

.column {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

h1 {
    text-align: center;
}

.Inputs input {
    margin-top: 10px;
    height: 30px;
    text-align: center;
    font-size: 22px;

}

::placeholder{
    color: darkgrey;
}

hr {
    border-color: white;
    width: 100%;
}

#form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 15px;
}

.mail input{
    width: 100%;
}

.naam {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
}

.Wachtw input {
    width: 100%;
    margin-bottom: 5px;
}


.HerWacht input {
    width: 100%;
    margin-bottom: 25px;
}

input[type=submit]{
    margin-top: 10px;
    padding: 5px;
    background: #717171;
    color: white;
    border: 0;
    width: 75%;
    align-self: center;
    font-size: 18px;
}

.border{
    border: solid gray;
    border-radius: 30px;
    box-shadow:0 4px 8px 3px;
    background-color: honeydew;
}

#firstName {
    width: 50%;
}

#lastName {
    width: 50%;
    margin-left: 30px;
}

.GBdate input {
    width: 100%;
    color: darkgray;
}

.WWvergeten {
    margin-top: 15px;
    text-align: center;
}

.WWvergeten a:link {
    color: darkgrey;
}

.WWvergeten a:hover {
    color: black;
}